{% extends "blue_dot/base.html" %}
{% load static %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}

<!-- slider area start -->
<section class="tp-slider-2-area tp-slider-spacing-2 fix">
    <div class="tp-slider-2-wrapper p-relative">
        <div class="swiper-container tp-slider-2-active">
            <div class="swiper-wrapper">
                {% for slide in sliders %}
                <div class="swiper-slide">
                    <div class="tp-slider-2-height">
                        <div class="tp-slider-2-bg tp-slider-2-overlay p-relative" style="background-image: url('{{ slide.image.url }}');"></div>
                        <div class="container">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
                                    <div class="tp-slider-2-content text-center">
                                        <div class="tp-slider-2-title-box mb-65">
                                            <h6 class="tp-slider-2-sub-title">{{ slide.subtitle }}</h6>
                                            <h1 class="tp-slider-2-title">{{ slide.title }}</h1>
                                        </div>
                                        <div class="tp-slider-2-btn-box z-index-11 p-relative">
                                            <a class="tp-btn" href="{{ slide.button_link }}"><span>{{ slide.button_text }}</span></a>
                                        </div>
                                        <div class="tp-slider-2-circle"></div>
                                        <div class="tp-slider-2-circle-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Optionally you can dynamically render pagination here too -->
    </div>
</section>
<!-- slider area end -->




<!-- product-top area start -->
<section class="tp-product-2-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="tp-section-title-wrapper mb-30">
                <h6 class="tp-section-sub-title">WE ALWAYS BELIEVE IN QUALITY</h6>
                <h3 class="tp-section-title mb-35 tp-split-text right">Explore All Categories</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="tp-product-2-slider p-relative">
                    <div class="tp-product-2-active swiper-container wow fadeInUp">
                        <div class="swiper-wrapper">
                            {% for category in parent_categories %}
                            <!-- Dynamic Category Slide -->
                            <div class="tp-product-2-wrapper tp-costom-wrapper-hover fix swiper-slide">
                                <div class="tp-product-2-thumb fix mb-15">
                                    <div class="tp-costom-inner-hover">
                                        <a href="{% url 'category_products' category.slug %}">
                                            {% if category.image %}
                                                <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid">
                                            {% else %}
                                                <!-- Default image if no category image exists -->
                                                <img src="/static/assets/img/product/default-category.png" alt="{{ category.name }}" class="img-fluid">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <div class="tp-product-2-content text-center">
                                    <h4 class="tp-product-2-title">
                                        <a href="{% url 'category_products' category.slug %}">{{ category.name }}</a>
                                    </h4>
                                    <div class="tp-product-2-count">
                                        {{ category.products.count }} products
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <!-- Fallback if no categories exist -->
                            <div class="col-12 text-center">
                                <p>No categories available</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tp-product-2-arrow-box">
                        <button class="slider-prev" tabindex="0" aria-label="Previous slide">
                            <i class="fa-sharp fa-regular fa-arrow-left"></i>
                        </button>
                        <button class="slider-next" tabindex="0" aria-label="Next slide">
                            <i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-top area end -->


<!-- product-center area start -->
<section class="tp-product-area pb-140">
    <div class="container-fluid">
        <div class="row tp-product-row">
            {% for card in center_cards %}
            <div class="col-xl-6 col-lg-6">
                <div class="tp-product-bg-overlay tp-product-3-bg-overlay {% if forloop.counter|divisibleby:2 %}two{% else %}fix{% endif %} wow fadeInUp" style="padding: 0px;">
                    <div class="row align-items-center" style="margin: 0px;">
                        <div class="col-xl-5 col-lg-7 col-md-5" style="    padding: 20px;">
                            <div class="tp-product-left-wrapper">
                                <div class="tp-product-content p-relative z-index-11">
                                    <h6 class="tp-product-sub-title">{{ card.subtitle }}</h6>
                                    <h3 class="tp-product-title">{{ card.title }}</h3>
                                    <div class="tp-product-btn tp-product-3-btn {% if forloop.counter|divisibleby:2 %}two{% endif %}">
                                        <a class="tp-btn-border" href="{{ card.button_link }}"><span>{{ card.button_text }}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-5 col-md-7">
                            <div class="tp-product-right-wrapper">
                                <div class="tp-product-right-img {% if forloop.counter|divisibleby:2 %}two{% else %}one{% endif %} p-relative z-index-1">
                                    <img src="{{ card.image.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- product-center area end -->



                <!-- shop area start -->
                <section class="tp-product-area pb-40">
                    <div class="container">
                        <div class="row align-items-center mb-45">
                            <div class="col-xl-8 col-lg-8">
                                <div class="tp-product-3-coundown-wrapper d-flex">
                                    <div class="tp-product-3-coundown-title mr-30">
                                        <h3 class="tp-split-text right">Our Exciting Products</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="tp-product-3-coundown-btn d-flex justify-content-end">
                                    <a class="tp-btn-border" href="{% url 'shop' %}"><span>View All Products</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end mb-50">
                            {% for product in products %}
                            <div class="col-xl-3 col-lg-6 col-md-6">
                                <div class="product_wrapper two mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                    <div class="product__item p-relative">
                                        <div class="product__top-brand d-flex justify-content-between mb-15">
                                            {% comment %} <div class="product__top-name">
                                                <span>bag</span>
                                            </div> {% endcomment %}
                                            <div class="product__top-price">
                                                <a href="{% url 'product_detail' slug=product.slug %}">{% if product.final_price < product.base_price %}
                                                    <span style="text-decoration: line-through; color: #999;">৳ {{ product.base_price }}</span>
                                                    <span style="color: #E60000; font-weight: bold;">৳ {{ product.final_price }}</span>
                                                    {% else %}
                                                        ৳ {{ product.base_price }}
                                                    {% endif %}





</a>
                                            </div>
                                        </div>
                                        <div class="product__thumb w-img p-relative fix mb-10">
                                            <a href="{% url 'product_detail' slug=product.slug %}">
                                                <img src="{{ product.thumbnail.url }}" alt="">
                                            </a>
                                            <div class="product__action d-flex flex-column flex-wrap">
                                                
                                                <button type="button" class="product-action-btn" data-bs-toggle="modal" data-bs-target="#productModal">
                                                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M9.49943 5.34978C8.23592 5.34978 7.20896 6.37595 7.20896 7.63732C7.20896 8.89774 8.23592 9.92296 9.49943 9.92296C10.7629 9.92296 11.7908 8.89774 11.7908 7.63732C11.7908 6.37595 10.7629 5.34978 9.49943 5.34978M9.49941 11.3456C7.45025 11.3456 5.78394 9.68213 5.78394 7.63738C5.78394 5.59169 7.45025 3.92725 9.49941 3.92725C11.5486 3.92725 13.2158 5.59169 13.2158 7.63738C13.2158 9.68213 11.5486 11.3456 9.49941 11.3456" fill="currentColor"></path>

                                                        <path d="M1.49145 7.63683C3.25846 11.5338 6.23484 13.8507 9.50001 13.8517C12.7652 13.8507 15.7416 11.5338 17.5086 7.63683C15.7416 3.7408 12.7652 1.42386 9.50001 1.42291C6.23579 1.42386 3.25846 3.7408 1.49145 7.63683V7.63683ZM9.50173 15.2742H9.49793H9.49698C5.56775 15.2714 2.03943 12.5219 0.0577129 7.91746C-0.0192376 7.73822 -0.0192376 7.53526 0.0577129 7.35601C2.03943 2.75248 5.5687 0.00306822 9.49698 0.000223018C9.49888 -0.000725381 9.49888 -0.000725381 9.49983 0.000223018C9.50173 -0.000725381 9.50173 -0.000725381 9.50268 0.000223018C13.4319 0.00306822 16.9602 2.75248 18.942 7.35601C19.0199 7.53526 19.0199 7.73822 18.942 7.91746C16.9612 12.5219 13.4319 15.2714 9.50268 15.2742H9.50173Z" fill="currentColor"></path>

                                                    </svg>
                                                    <span class="product-action-tooltip">Quick view</span>
                                                </button>
                                                
                                            </div>
                                            <div class="product__add transition-3">
                                                <button type="button" class="product-add-cart-btn w-100">
                                                    Add to Cart
                                                </button>
                                            </div>
                                        </div>
                                        <div class="product__content text-center">
                                            <div class="product__content-wrapper">
                                                <h3 class="product__title">
                                                    <a href="{% url 'product_detail' slug=product.slug %}">{{ product.name }}</a>
                                                </h3>
                                            </div>
                                            <div class="product__rating d-flex justify-content-center">
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                                <span>
                                                    <i class="fa-solid fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- shop area end -->

<!-- Category Product Area -->
{% for category_item in category_data %}
<section class="tp-product-area pb-40">
    <div class="container">
        <div class="row align-items-center mb-45">
            <div class="col-xl-8 col-lg-8">
                <div class="tp-product-3-coundown-wrapper d-flex">
                    <div class="tp-product-3-coundown-title mr-30">
                        <h3 class="tp-split-text right">{{ category_item.category.name }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="tp-product-3-coundown-btn d-flex justify-content-end">
                    <a class="tp-btn-border" href="{% url 'category_products' category_item.category.slug %}">
                        <span>View All Products</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-end mb-50">
            {% for product in category_item.products %}
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="product_wrapper two mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="product__item p-relative">
                        <div class="product__top-brand d-flex justify-content-between mb-15">
                            <div class="product__top-price">
                                <a href="cart.html">
                                    {% if product.final_price < product.base_price %}
                                        <span style="text-decoration: line-through; color: #999;">৳ {{ product.base_price }}</span>
                                        <span style="color: #E60000; font-weight: bold;">৳ {{ product.final_price }}</span>
                                    {% else %}
                                        ৳ {{ product.base_price }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="product__thumb w-img p-relative fix mb-10">
                            <a href="{% url 'product_detail' product.slug %}">
                                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}">
                            </a>
                            <div class="product__action d-flex flex-column flex-wrap">
                                
                                <button type="button" class="product-action-btn" data-bs-toggle="modal" data-bs-target="#productModal">
                                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.49943 5.34978C8.23592 5.34978 7.20896 6.37595 7.20896 7.63732C7.20896 8.89774 8.23592 9.92296 9.49943 9.92296C10.7629 9.92296 11.7908 8.89774 11.7908 7.63732C11.7908 6.37595 10.7629 5.34978 9.49943 5.34978M9.49941 11.3456C7.45025 11.3456 5.78394 9.68213 5.78394 7.63738C5.78394 5.59169 7.45025 3.92725 9.49941 3.92725C11.5486 3.92725 13.2158 5.59169 13.2158 7.63738C13.2158 9.68213 11.5486 11.3456 9.49941 11.3456" fill="currentColor"></path>
                                        <path d="M1.49145 7.63683C3.25846 11.5338 6.23484 13.8507 9.50001 13.8517C12.7652 13.8507 15.7416 11.5338 17.5086 7.63683C15.7416 3.7408 12.7652 1.42386 9.50001 1.42291C6.23579 1.42386 3.25846 3.7408 1.49145 7.63683V7.63683ZM9.50173 15.2742H9.49793H9.49698C5.56775 15.2714 2.03943 12.5219 0.0577129 7.91746C-0.0192376 7.73822 -0.0192376 7.53526 0.0577129 7.35601C2.03943 2.75248 5.5687 0.00306822 9.49698 0.000223018C9.49888 -0.000725381 9.49888 -0.000725381 9.49983 0.000223018C9.50173 -0.000725381 9.50173 -0.000725381 9.50268 0.000223018C13.4319 0.00306822 16.9602 2.75248 18.942 7.35601C19.0199 7.53526 19.0199 7.73822 18.942 7.91746C16.9612 12.5219 13.4319 15.2714 9.50268 15.2742H9.50173Z" fill="currentColor"></path>
                                    </svg>
                                    <span class="product-action-tooltip">Quick view</span>
                                </button>
                                
                            </div>
                            <div class="product__add transition-3">
                                <button type="button" class="product-add-cart-btn w-100">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                        <div class="product__content text-center">
                            <div class="product__content-wrapper">
                                <h3 class="product__title">
                                    <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                                </h3>
                            </div>
                            <div class="product__rating d-flex justify-content-center">
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}
                 <!-- call to action area start -->
                <section class="tp-cta-3-area pb-120">
                    <div class="container-fluid">
                        <div class="row gx-0 tp-cta-3-row">
                            <div class="col-lg-6">
                                <div class="tp-cta-3-section-title">
                                    <div class="tp-section-title-wrapper mb-30">
                                        <h6 class="tp-section-sub-title">{{ home_cta.sub_title }}</h6>
                                        <h3 class="tp-section-title mb-35 tp-split-text right">{{ home_cta.title }}</h3>
                                        <div class="tp-cta-3-btn">
                                            <a class="tp-btn" href="{{ home_cta.button_link }}"><span>{{ home_cta.button_text }}</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tp-cta-3-thumb p-relative z-index-1">
                                    {% if home_cta.image %}
                                        <img src="{{ home_cta.image.url }}" alt="">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- call to action area end -->




                <!-- printing area start -->
                <section class="tp-printing-3-area pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-12">
                                <div class="ttp-printing-3-wrapper tp-bg-overlay" 
                                     style="background-image: url('{{ pricing_card.image.url }}');  min-height: 100%;     background-repeat: no-repeat;">
                                    <div class="tp-printing-3-content text-white" style='padding: 40px;padding-right: 0px;'>
                                        <h6 class="tp-printing-3-sub-title">{{ pricing_card.sub_title }}</h6>
                                        <h4 class="tp-printing-3-title mb-35 tp-split-text right">{{ pricing_card.title }}</h4>
                                        <p class="tp-printing-3-paragraph">
                                            {{ pricing_card.price_text }} <span>{{ pricing_card.price_value }}</span>
                                        </p>
                                        <div class="tp-printing-3-btn">
                                            <a class="tp-btn yellow-btn" href="{{ pricing_card.button_link }}">
                                                <span>{{ pricing_card.button_text }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-xl-6">
                                <div class="row">
                                    {% for item in category_data %}
                                         {% for product in item.products %}
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="product_wrapper two mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                                <div class="product__item p-relative">
                                                    <div class="product__top-brand d-flex justify-content-between mb-15">
                                                        {% comment %} <div class="product__top-name">
                                                            <span>bag</span>
                                                        </div> {% endcomment %}
                                                        <div class="product__top-price">
                                                            <a href="cart.html">{% if product.final_price < product.base_price %}
                                                                <span style="text-decoration: line-through; color: #999;">৳ {{ product.base_price }}</span>
                                                                <span style="color: #E60000; font-weight: bold;">৳ {{ product.final_price }}</span>
                                                            {% else %}
                                                                ৳ {{ product.base_price }}
                                                            {% endif %}</a>
                                                        </div>
                                                    </div>
                                                    <div class="product__thumb w-img p-relative fix mb-10">
                                                        <a href="shop-details.html">
                                                            <img src="{{ product.thumbnail.url }}" alt="">
                                                        </a>
                                                        <div class="product__action d-flex flex-column flex-wrap">
                                                           
                                                            <button type="button" class="product-action-btn" data-bs-toggle="modal" data-bs-target="#productModal">
                                                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M9.49943 5.34978C8.23592 5.34978 7.20896 6.37595 7.20896 7.63732C7.20896 8.89774 8.23592 9.92296 9.49943 9.92296C10.7629 9.92296 11.7908 8.89774 11.7908 7.63732C11.7908 6.37595 10.7629 5.34978 9.49943 5.34978M9.49941 11.3456C7.45025 11.3456 5.78394 9.68213 5.78394 7.63738C5.78394 5.59169 7.45025 3.92725 9.49941 3.92725C11.5486 3.92725 13.2158 5.59169 13.2158 7.63738C13.2158 9.68213 11.5486 11.3456 9.49941 11.3456" fill="currentColor"></path>

                                                                    <path d="M1.49145 7.63683C3.25846 11.5338 6.23484 13.8507 9.50001 13.8517C12.7652 13.8507 15.7416 11.5338 17.5086 7.63683C15.7416 3.7408 12.7652 1.42386 9.50001 1.42291C6.23579 1.42386 3.25846 3.7408 1.49145 7.63683V7.63683ZM9.50173 15.2742H9.49793H9.49698C5.56775 15.2714 2.03943 12.5219 0.0577129 7.91746C-0.0192376 7.73822 -0.0192376 7.53526 0.0577129 7.35601C2.03943 2.75248 5.5687 0.00306822 9.49698 0.000223018C9.49888 -0.000725381 9.49888 -0.000725381 9.49983 0.000223018C9.50173 -0.000725381 9.50173 -0.000725381 9.50268 0.000223018C13.4319 0.00306822 16.9602 2.75248 18.942 7.35601C19.0199 7.53526 19.0199 7.73822 18.942 7.91746C16.9612 12.5219 13.4319 15.2714 9.50268 15.2742H9.50173Z" fill="currentColor"></path>

                                                                </svg>
                                                                <span class="product-action-tooltip">Quick view</span>
                                                            </button>
                                                           
                                                        </div>
                                                        <div class="product__add transition-3">
                                                            <button type="button" class="product-add-cart-btn w-100">
                                                                Add to Cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="product__content text-center">
                                                        <div class="product__content-wrapper">
                                                            <h3 class="product__title">
                                                                <a href="shop-details.html">{{ product.name }}</a>
                                                            </h3>
                                                        </div>
                                                        <div class="product__rating d-flex justify-content-center">
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                            <span>
                                                                <i class="fa-solid fa-star"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- printing area end -->


         <!-- brand area start -->
<div class="tp-brand-3-area pt-110 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-12 text-center mb-4">
                <h2 class="section-title">Our Brand</h2> <!-- Add this heading -->
            </div>
            <div class="col-xxl-12">
                <div class="tp-brand-3-slider wow fadeInUp">
                    <div class="tp-brand-3-active swiper-container">
                        <div class="swiper-wrapper">
                            {% for brand in brands|slice:":5" %}
                            <div class="tp-brand-3-item swiper-slide">
                                <div class="tp-brand-3-img-thum">
                                    {% if brand.image %}
                                        <img src="{{ brand.image.url }}" alt="{{ brand.name|default:'Brand' }}" class="img-fluid">
                                    {% else %}
                                        <img src="{% static 'assets/img/brand/default-brand.png' %}" alt="{{ brand.name|default:'Brand' }}" class="img-fluid">
                                    {% endif %}
                                </div>
                            </div>
                            {% empty %}
                            <!-- Fallback if no brands exist -->
                            {% for i in "12345" %}
                            <div class="tp-brand-3-item swiper-slide">
                                <div class="tp-brand-3-img-thum">
                                    <img src="{% static 'assets/img/brand/brand-3-img'|add:i|add:'.png' %}" alt="">
                                </div>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand area end -->

                <!-- blog area start -->
                <section class="tp-blog-3-area pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="tp-section-title-wrapper mb-45 text-center">
                                <h6 class="tp-section-sub-title">OUR LATEST BLOGS</h6>
                                <h3 class="tp-section-title mb-35 tp-split-text right">Read Our Latest Blog Post</h3>
                            </div>
                        </div>
                        <div class="row">

                            <!-- Blog Post 1 -->
                            {% for blog in blogs %}
                            <div class=" col-lg-4 col-md-6">
                                <div class="tp-blog-wrapper wow fadeInUp" style="border: 1px solid #00000026;">
                                    <div class="tp-blog-thumb">
                                        <a href="{{ blog.get_absolute_url }}">
                                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                        </a>
                                    </div>
                                    <div class="tp-blog-4-content">
                                        <div class="tp-blog-4-meta">
                                            <span>{{ blog.get_category_name }}</span>
                                            <span>{{ blog.date }}</span>
                                        </div>
                                        <h4 class="tp-blog-4-title">
                                            <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                                        </h4>
                                        {% comment %} <p>{{ blog.get_short_description }}</p> {% endcomment %}
                                        <div class="tp-blog-4-btn">
                                            <a href="{{ blog.get_absolute_url }}">Read More <i class="fa-regular fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                
                
                        </div>
                    </div>
                </section>
                <!-- blog area end -->



                <!-- subscribe area start -->
                <section class="tp-subscribe-3-area pt-120 pb-110 p-relative z-index-1">
                    <div class="tp-subscribe-3-bg-shape">
                        <img class="tp-subscribe-3-bg-shape-1" src="assets/img/subscribe/subscribe-3-shape1.jpg" alt="">
                        <img class="tp-subscribe-3-bg-shape-2" src="assets/img/subscribe/subscribe-3-shape2.jpg" alt="">
                        <img class="tp-subscribe-3-bg-shape-3" src="assets/img/subscribe/subscribe-3-shape3.jpg" alt="">
                        <img class="tp-subscribe-3-bg-shape-4" src="assets/img/subscribe/subscribe-3-shape4.jpg" alt="">
                        <img class="tp-subscribe-3-bg-shape-5" src="assets/img/subscribe/subscribe-3-shape5.jpg" alt="">
                        <img class="tp-subscribe-3-bg-shape-6" src="assets/img/subscribe/subscribe-3-shape6.jpg" alt="">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="tp-subscribe-3-section">
                                <div class="tp-section-title-wrapper mb-55 text-center">
                                    <h6 class="tp-section-sub-title">Contact us for more</h6>
                                    <h3 class="tp-section-title mb-35 tp-split-text right">Enjoy Up Your Vacations <br>
                                        in the Best Printing</h3>
                                </div>
                                <div class="tp-subscribe-3-btn text-center">
                                    <a class="tp-btn" href="shop-details.html"><span>Shop Now</span></a>
                                    <a class="tp-btn-white" href="contact.html"><span>Contact Us</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- subscribe area end -->


<script>
document.addEventListener("DOMContentLoaded", function () {
    const addToCartBtn = document.querySelector('.product-add-cart-btn');
    const cartCountElem = document.getElementById('cart-count');
    const cartOpenBtn = document.querySelector('.cartmini-open-btn');

    addToCartBtn.addEventListener('click', function () {
        // Update localStorage count (optional)
        let currentCount = parseInt(localStorage.getItem('cartCount')) || 0;
        currentCount++;
        localStorage.setItem('cartCount', currentCount);

        // Update visible cart count (if applicable)
        if (cartCountElem) {
            cartCountElem.innerText = currentCount;
        }

        // ✅ Open the cart mini panel
        if (cartOpenBtn) {
            cartOpenBtn.click();
        }
    });

    // On page load, update cart count from localStorage
    if (cartCountElem) {
        const storedCount = localStorage.getItem('cartCount');
        if (storedCount) {
            cartCountElem.innerText = storedCount;
        }
    }
});
</script>
{% endblock content %}

{% block custom_js %}{% endblock custom_js %}
