{% extends "blue_dot/base.html" %}
{% load static %}

{% block custom_css %}{% endblock custom_css %}

{% block breadcrumb %}
<!-- breadcrumb area start -->
<section class="tp-breadcrumb-area tp-slider-spacing-inner p-relative z-index-1">
    <div class="tp-breadcrumb-bg-shape">
        <img class="tp-breadcrumb-bg-shape-1" src="{% static 'assets/img/breadcrumb/breadcrumb-shape1.png' %}" alt="">
        <img class="tp-breadcrumb-bg-shape-2" src="{% static 'assets/img/breadcrumb/breadcrumb-shape2.png' %}" alt="">
        <img class="tp-breadcrumb-bg-shape-3" src="{% static 'assets/img/breadcrumb/breadcrumb-shape3.png' %}" alt="">
        <img class="tp-breadcrumb-bg-shape-4" src="{% static 'assets/img/breadcrumb/breadcrumb-shape4.png' %}" alt="">
        <img class="tp-breadcrumb-bg-shape-5" src="{% static 'assets/img/breadcrumb/breadcrumb-shape5.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5">
                <div class="tp-breadcrumb-content">
                    <h2 class="tp-breadcrumb-title">Project Details</h2>
                    <p class="tp-breadcrumb-body"><span><a class="home" href="index.html">Home <span class="spacing">_</span> </a></span>Project Details</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
{% endblock breadcrumb %}

{% block content %}
<!-- project area start -->
<section class="tp-project-details-top-area pt-120">
    <div class="container">
        <div class="row justify-content-center mb-100">
            <div class="tp-project-inner-main-thumb">
                <img src="{% static 'assets/img/project/project-details-main-img.jpg' %}" alt="">
            </div>
            <div class="tp-project-details-wrap">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        <div class="tp-project-details-wrap-item wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                            <span>published:</span>
                            <h5>April 20, 2023</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6">
                        <div class="tp-project-details-wrap-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                            <span>CATAGORY:</span>
                            <h5>T-Shirt Printing</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 col-4">
                        <div class="tp-project-details-wrap-item wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1s">
                            <span>client:</span>
                            <h5>Richard Paul</h5>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-8">
                        <div class="tp-team-details-social tp-project-details-social wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
                            <a class="one" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="two" href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a class="three" href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a class="four" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tp-portfolio-details-wrap-box">
                <div class="tp-project-details-content mb-50 wow fadeInUp">
                    <h2 class="tp-project-details-title tp-split-text right">Quality Printing Comes Wiht Ideas</h2>
                    <p class="tp-project-details-paragraph">With worldwide annual spend on digital advertising surpassing $325 billion, it's no surprise that different approaches to online marketing are becoming available. One of these new approache marketing or digital performance marketing. Keep reading to learn all about performance marketing, from how it works to how it compares to digital marketing. Plus, get insight into the benefits and risks of performance marketing and how it can affect your company's long-term success and profitability. Performance marketing is an approach to digital marketing or advertising where businesses only pay when a specific result occurs. This result could be a new lead, sale, or other outcome agreed upon by the advertiser and business. Performance marketing involves channels such as affiliate marketing, online <br>
                        The main thing that separates performance marketing from other types of marketing is the way businesses pay for their campaigns. Rather than paying up front or by month, advertisers pay when a specific action takes place. You might enlist a marketing company's help to bring your branding to more individuals by having these marketers promote your business to prospective customers. The hope is that users will complete a form to learn more about your company and become a lead.</p>
                </div>
                <div class="tp-portfolio-details-share-area d-flex justify-content-between wow fadeInUp">
                    <div class="tp-portfolio-details-btn wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <a href="#">Printing Agent</a>
                        <a href="#">Digital</a>
                        <a href="#">Tech</a>
                    </div>
                    <div class="tp-portfolio-details-share wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <a href="#">
                            <span><i class="fa-solid fa-share-nodes"></i></span>
                        </a>
                    </div>
                </div>
                <div class="tp-portfolio-details-np-area d-flex justify-content-between wow fadeInUp">
                    <div class="tp-portfolio-details-prev wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <p><a href="#"><i class="fa-light fa-arrow-left"></i> Previous</a></p>
                        <h5 class="tp-portfolio-details-prev-title">Hoodie Mockup Designing</h5>
                    </div>
                    <div class="tp-portfolio-details-prev tp-portfolio-details-prev-2 text-end wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <p><a href="#"> Next <i class="fa-light fa-arrow-right"></i></a></p>
                        <h5 class="tp-portfolio-details-prev-title">Colorfull Book Cover Design</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project area end -->

<!-- project area start -->
<section class="tp-project-details-area two pb-90">
    <div class="container-fluid">
        <div class="row">
            <div class="tp-section-title-wrapper mb-50 text-center">
                <h3 class="tp-section-title tp-split-text right">Check Our Related Project</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tp-project-4-wrapper mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="tp-project-4-thumb p-relative z-index-1">
                        <img src="{% static 'assets/img/project/project-4-img2.jpg' %}" alt="">
                        <div class="tp-project-4-item">
                            <div class="tp-project-4-content">
                                <span>Printing</span>
                                <h4 class="tp-project-4-title"><a href="project-details.html">Submilation Print</a></h4>
                            </div>
                            <div class="tp-project-4-icon">
                                <a href="project-details.html"><i class="flaticon-next"></i></a>
                            </div>
                            <div class="tp-project-4-shape">
                                <img src="{% static 'assets/img/project/project-4-box-shape.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tp-project-4-wrapper mb-30 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                    <div class="tp-project-4-thumb p-relative z-index-1">
                        <img src="{% static 'assets/img/project/project-4-img3.jpg' %}" alt="">
                        <div class="tp-project-4-item">
                            <div class="tp-project-4-content">
                                <span>Printing</span>
                                <h4 class="tp-project-4-title"><a href="project-details.html">Submilation Print</a></h4>
                            </div>
                            <div class="tp-project-4-icon">
                                <a href="project-details.html"><i class="flaticon-next"></i></a>
                            </div>
                            <div class="tp-project-4-shape">
                                <img src="{% static 'assets/img/project/project-4-box-shape.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tp-project-4-wrapper mb-30 wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1s">
                    <div class="tp-project-4-thumb p-relative z-index-1">
                        <img src="{% static 'assets/img/project/project-4-img4.jpg' %}" alt="">
                        <div class="tp-project-4-item">
                            <div class="tp-project-4-content">
                                <span>Printing</span>
                                <h4 class="tp-project-4-title"><a href="project-details.html">Submilation Print</a></h4>
                            </div>
                            <div class="tp-project-4-icon">
                                <a href="project-details.html"><i class="flaticon-next"></i></a>
                            </div>
                            <div class="tp-project-4-shape">
                                <img src="{% static 'assets/img/project/project-4-box-shape.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project area end -->
{% endblock content %}

{% block custom_js %}{% endblock custom_js %}