{% load static %}
<!-- Footer area start -->
    <section class="tp-footer-2-area p-relative z-index-1">
        <div class="tp-footer-2-bg-shape">
            <img  src="{% static 'assets/img/footer/footer-2-bg-shape.png' %}" alt="">
        </div>
        <div class="tp-footer-top tp-footer-2-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-50">
                        <div class="tp-footer-widget footer-cols-1 transition-3 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                            <div class="tp-footer-logo">
                                <a href="index.html"><img  src="{% static 'assets/img/footer/footer-2-logo.png' %}" alt=""></a>
                            </div>
                            <div class="tp-footer-text tp-footer-2-text">
                                <p>Address 301 Princes Street, Ei class
                                    Mahall Damietta Egypt-104 </p>
                                <a class="tp-footer-call tp-footer-2-call" href="tel:+134353353545"><span><img  src="{% static 'assets/img/footer/phone-icon2.svg' %}" alt=""></span> +1 343 5335 3545</a>
                                <a class="tp-footer-call tp-footer-2-call" href="mailto:presvila@mail.com"><span><img  src="{% static 'assets/img/footer/message-icon2.svg' %}" alt=""></span> presvila@mail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6 col-sm-6 mb-50 ">
                        <div class="tp-footer-widget footer-cols-2 tp-footer-widget-cutm-pdg-2 pl-85 transition-3 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                            <h4 class="tp-footer-title tp-footer-2-title">Navigation</h4>
                            <div class="tp-footer-list tp-footer-2-list">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About US</a></li>
                                    <li><a href="service.html">Services</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-50">
                        <div class="tp-footer-widget footer-cols-3 tp-footer-widget-cutm-pdg-3 transition-3 ml-45 wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1s">
                            <h4 class="tp-footer-title  tp-footer-2-title">Quick Link</h4>
                            <div class="tp-footer-list tp-footer-2-list">
                                <ul>
                                    <li><a href="#">Digital Printing</a></li>
                                    <li><a href="#">3d Printing</a></li>
                                    <li><a href="#">Ofset Printing</a></li>
                                    <li><a href="#">Logo Design</a></li>
                                    <li><a href="#">T-Shirt Printing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-50">
                        <div class="tp-footer-widget footer-cols-4 tp-footer-2-widget-4 transition-3 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1s">
                            <h4 class="tp-footer-title  tp-footer-2-title">Newsletter</h4>
                            <div class="tp-footer-2-form">
                                <div class="tp-footer-text tp-footer-2-text">
                                    <p>Subscribe our newsletter to get the
                                        latest news & updates</p>
                                </div>
                                <div class="tp-footer-2-widget-input">
                                    <form class="tp-footer-2-form" action="#">
                                        <input type="text" placeholder="email@example.com">
                                        <span class="tp-footer-2-input-arrow"><button><img  src="{% static 'assets/img/footer/footer-2-input-arrow.svg' %}" alt=""></button></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tp-footer-bottom tp-footer-2-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-8">
                        <div class="tp-footer-copy-right">
                            <p class="tp-footer-copy-paragraph tp-footer-2-copy-paragraph">Copyright © 2024 <a href="#">Presvila</a> . All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-4">
                        <div class="tp-footer-2-social">
                            <a href="#"><i class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Footer area end -->