{% load static %}
<!-- header area start -->
    <header class="tp-header-height p-relative z-index-11">
        <div class="tp-header-2-top d-none d-xl-block">
            {% comment %} <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="tp-header-2-top-text text-center">
                            <span>Free metro delivery* Sign Up for $30 off your order! </span>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <div id="header-sticky" class="tp-header-bottom tp-header-2-bottom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-5">
                        <div class="tp-header-2-logo">
                      <a href="/"><img src="{% static 'assets/img/logo/logo.png' %}" alt="" ></a>

                        </div>
                    </div>
                    <div class="col-xl-5 d-none d-xl-block">
                        <div class="tp-header-main-menu tp-header-2-main-menu">
                            <nav class="tp-main-menu-content">
                                <ul>
                                    <li class="has-dropdown"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    
                                    <li class="has-dropdown"><a href="{% url 'shop' %}">Products</a>
                                        {% comment %} <ul class="submenu tp-submenu">
                                            <li><a href="{% url 'shop' %}">Products</a></li>
                                            <li><a href="{% url 'shop_details' %}">Shop Details</a></li>
                                            <li><a href="{% url 'cart' %}">Cart</a></li>
                                            <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                        </ul> {% endcomment %}
                                    </li>
                                    <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                                    <li><a href="{% url 'blog' %}">Blog</a></li>
                                    <li><a href="{% url 'faq' %}">Our Faq</a></li>
                                    <li class="has-dropdown"><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-7">
                        <div class="tp-header-bottom-item d-flex justify-content-end mt-10">
                            <!-- Header input -->
                            <div class="tp-header-2-input-search p-relative mr-30">
                                <form action="#">
                                    <div class="tp-header-2-input">
                                        <input type="text" placeholder="Search...">
                                        <button type="submit"><i class="flaticon-search"></i></button>
                                    </div>
                                </form>
                            </div>

                            <!-- Header Button -->
                            <div class="tp-header-bottom-button tp-header-2-bottom-button mr-30">
                                <a class="tp-header-btn tp-header-2-btn" href="{% url 'contact' %}"><span>Get a Quete</span></a>
                            </div>

                            <!-- Header shop -->
                            <div class="tp-header-2-shop p-relative">
                                <button class="click-cart tp-header-cart-home cartmini-open-btn">
                                    <i class="flaticon-shopping-cart"></i>
                                    <span>2</span>
                                </button>
                            </div>

                            <!-- Header menu Button -->
                            <div class="tp-header-bottom-toggle tp-header-2-bottom-toggle p-relative">
                                <button class="tp-menu-bar"><img src="{% static 'assets/img/header/toggle.svg'%}" alt=""></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- header area end -->