{% load static %}
<!-- header area start -->
    <header class="tp-header-height p-relative z-index-11">
        <div class="tp-header-2-top d-none d-xl-block">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8">
                        <div class="tp-header-2-top-text text-center">
                            <span>Free metro delivery* Sign Up for $30 off your order! </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-sticky" class="tp-header-bottom tp-header-2-bottom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-5">
                        <div class="tp-header-2-logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-5 d-none d-xl-block">
                        <div class="tp-header-main-menu tp-header-2-main-menu">
                            <nav class="tp-main-menu-content">
                                <ul>
                                    <li class="has-dropdown"><a href="index.html">Home</a>
                                        <div class="tp-submenu submenu has-homemenu">
                                            <div class="row gx-6 row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-5">
                                                <div class="col homemenu">
                                                    <div class="homemenu-thumb mb-15">
                                                        <a href="index.html">
                                                            <img src="assets/img/menu/home1.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="homemenu-content text-center">
                                                        <h4 class="homemenu-title">
                                                            <a href="index.html">Home 01</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="col homemenu">
                                                    <div class="homemenu-thumb mb-15">
                                                        <a href="index-2.html">
                                                            <img src="assets/img/menu/home2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="homemenu-content text-center">
                                                        <h4 class="homemenu-title">
                                                            <a href="index-2.html">Home 02</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="col homemenu">
                                                    <div class="homemenu-thumb mb-15">
                                                        <a href="index-3.html">
                                                            <img src="assets/img/menu/home3.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="homemenu-content text-center">
                                                        <h4 class="homemenu-title">
                                                            <a href="index-3.html">Home 03</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="col homemenu">
                                                    <div class="homemenu-thumb mb-15">
                                                        <a href="index-4.html">
                                                            <img src="assets/img/menu/home4.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="homemenu-content text-center">
                                                        <h4 class="homemenu-title">
                                                            <a href="index-4.html">Home 04</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="col homemenu">
                                                    <div class="homemenu-thumb mb-15">
                                                        <a href="index-5.html">
                                                            <img src="assets/img/menu/home5.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="homemenu-content text-center">
                                                        <h4 class="homemenu-title">
                                                            <a href="index-5.html">Home 05</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="has-dropdown"><a href="service.html">Services</a>
                                        <ul class="submenu tp-submenu">
                                            <li><a href="{% url 'service' %}">Our Service</a></li>

                                            <li><a href="{% url 'service_details' %}">Service Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="shop.html">Shop</a>
                                        <ul class="submenu tp-submenu">
                                            <li><a href="shop.html">Our Shop</a></li>
                                            <li><a href="shop-details.html">Shop Details</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="blog.html">Blog</a>
                                        <ul class="submenu tp-submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-sideber.html">Blog Sidebar</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="index.html">Pages</a>
                                        <ul class="submenu tp-submenu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="project.html">Our Project</a></li>
                                            <li><a href="project-details.html">Project Details</a></li>
                                            <li><a href="faq.html">Our Faq</a></li>
                                            <li><a href="error.html">Error</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-7">
                        <div class="tp-header-bottom-item d-flex justify-content-end mt-10">

                            <!-- Header input -->
                            <div class="tp-header-2-input-search p-relative mr-30">
                                <form action="#">
                                    <div class="tp-header-2-input">
                                        <input type="text" placeholder="Search...">
                                        <button type="submit"><i class="flaticon-search"></i></button>
                                    </div>
                                </form>
                            </div>

                            <!-- Header Button -->
                            <div class="tp-header-bottom-button tp-header-2-bottom-button mr-30">
                                <a class="tp-header-btn tp-header-2-btn" href="contact.html"><span>Get a Quete</span></a>
                            </div>

                            <!-- Header shop -->
                            <div class="tp-header-2-shop p-relative">
                                <button class="click-cart tp-header-cart-home cartmini-open-btn">
                                    <i class="flaticon-shopping-cart"></i>
                                    <span>2</span>
                                </button>
                            </div>

                            <!-- Header menu Button -->
                            <div class="tp-header-bottom-toggle tp-header-2-bottom-toggle p-relative">
                                <button class="tp-menu-bar"><img src="assets/img/header/toggle.svg" alt=""></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- header area end -->